
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root{
    --headerColor: #0176d5;
    --bodyColor: #0e0e10;
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

select{
    border: 1px solid #dedede ;
    height: 30px;
    width: 130px;
    font-size: 18px;

}
option{
    border: none;
}
a{
    text-decoration: none;
}
